* {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* outline: 1px dashed; */
}

body {
    overflow-x: hidden;
}

.nav,
.show-nav {
    width: 100vw;
    display: flex;
    animation: nav 0.5s forwards;
    background-color: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 3;

    >#nav-menu {
        color: white;
    }
}

.show-nav {
    >#nav-menu {
        color: rgb(0, 0, 0);
    }

    animation: show-nav 0.5s forwards;
}

@keyframes nav {
    0% {
        background-color: #fff;
    }

    100% {
        background-color: #ffffff00;
    }
}

@keyframes show-nav {
    0% {
        background-color: #ffffff00;
    }

    100% {
        background-color: #fff;
    }
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >h1 {
        font-size: 1rem;
        font-weight: 900;
    }

    >h2 {
        font-size: 0.8rem;
    }
}

#nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    height: 100%;

    >a {
        padding: 0 2rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
#ham{
    cursor: pointer;
    display: none;
    scale: 2;
}
.nav-ham{
    display: none;
    flex-direction: column;
    position: absolute;
    right: -1.5rem;
    top: 1.5rem;
    text-align: start;
    >a{
        background-color: #fff;
        width: 52vw;
        padding: 0 5%;
        &:hover{
            background-color: #111;
            color: #fff;
        }
    }
}
.ham-on{
    display: flex;
}
.active {
    background-color: #111;
    color: white;
}

#home {
    height: 80vh;
    margin-bottom: 2rem;
    overflow-x: hidden;

    >div {
        height: 100%;
        display: flex;
    }
}

#left-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >h1 {
            font-size: 7vw;
        }

        >h2 {
            font-size: 3vw;
        }
    }
}

#right-zone {
    width: 50%;
    background-image: url('assets/images/aryan-dhiman-iGLLtLINSkw-unsplash.jpg');
    background-position-x: center;
    background-position-y: 0px;
    background-size: cover;
    color: white;
    position: relative;

    >p {
        z-index: 1;
        font-size: 8vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.overlay {
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.512);
    width: 100%;
    height: 100%;
}


#card-1 {
    z-index: 2;
    height: 25rem;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;

    >div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        height: 100%;

        >div {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5%;
            width: 30vw;
            height: 100%;
            scale: 1.1;

            >a {
                text-align: center;
                width: 10rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: tomato;
                cursor: pointer;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 3px;
                color: white;

                &:hover {
                    background-color: white;
                    color: black;
                    border: 2px solid black;
                }
            }
        }

        >div[id='c2'] {
            background-color: #222;
            color: white;

            >a {
                background-color: #222;
                border: 2px solid white;

                &:hover {
                    background-color: white;
                    color: #222;
                }
            }
        }
    }

    >div>div {
        >h1 {
            font-size: 2rem;
            text-align: center;
        }

        >p {
            font-size: 0.8rem;
        }
    }
}

#c1,
#c2,
#c3 {
    position: relative;
    top: 0;
    background-color: #eee;
    box-shadow: #222 0 0 5px;
}

#c2 {
    top: -20px;
    z-index: 1;
}

#some-text {
    position: relative;
}

article {
    padding: 5rem 7rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}
#about{
    /* position: relative; */
}
#we-do{
    /* position: relative; */
}
#about>div {
    display: flex;
    height: 25rem;
    width: 100%;
}

#left-about {
    width: 100%;
    padding: 5rem;
}

#right-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    >img{
        box-shadow: 0 0 5px #222;        
    }
}

#img-about-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 35rem;
    height: auto;
    max-width: 100%;
}

#img-about-2 {
    width: 20rem;
    position: absolute;
    top: 20%;
    left: -3rem;
    max-width: 100%;
}
#we-do>div {
    display: flex;
    height: 25rem;
    width: 100%;
}

#right-we-do {
    width: 100%;
    padding: 5rem;
}

#left-we-do {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    >img{
        box-shadow: 0 0 5px #222;
    }
}

#img-we-do-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 35rem;
    height: auto;
    max-width: 100%;
}

#img-we-do-2 {
    width: 20rem;
    position: absolute;
    top: 20%;
    right: -3rem;
    max-width: 100%;
}

#before-port {
    overflow-x: hidden;
    height: 32rem;
    background-color: #eee;
    background-image: url('assets/images/aryan-dhiman-iGLLtLINSkw-unsplash.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    >div {
        position: relative;
    }

    >div>div {
        box-shadow: 0 0 3px #555;
        background-color: #222;
        color: #fff;
        width: 50rem;
        padding: 3rem;
        position: absolute;
        top: 3rem;
        left: 0rem;

    }

    >div>div>h1 {
        text-align: center;
    }
}

#portfolio>div {
    width: 100%;
}

#port-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    background-color: #222;
}

.box-port {
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
    width: 22rem;
    aspect-ratio: 1/1;
    background-color: #555;
    position: relative;

    >img {
        transition: 0.5s;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &:hover {
        >.overlay {
            opacity: 0;
        }

        >img {
            scale: 1.1;
        }
    }
}

.display {
    visibility: hidden;
    animation: display 0.5s forwards;
}

@keyframes display {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.overlay {
    transition: 0.5s;
}

.text-overlay {
    color: white;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

#contact {
    height: 30rem;
    background-image: url('assets/images/aryan-dhiman-iGLLtLINSkw-unsplash.jpg');
    background-size: cover;
    overflow-x: hidden;
}

form {
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.455);
    position: absolute;
    right: 5rem;
    border-radius: 3px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 30rem;

    >input,
    textarea {
        color: white;
        width: 100%;
        padding: 0.3rem 1rem;
        border: 1px solid white;
        background: none;
    }

    >input[type="submit"] {
        border: none;
        outline: none;
        background-color: tomato;
        font-size: 1rem;
        padding: 0.5rem 2rem;
        cursor: pointer;
    }
}

footer {
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem;

    >div {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
@media (max-width:1024px) {
    #nav-menu{
        display: none;
    }
    #ham{
        display: flex;
    }
}
@media (max-width:768px) {
    #card-1>div{
        display: flex;
        flex-direction: column;
        >div{
            width: auto;
        }
        >div[id="c2"]{
            transform: translate(-30%,-20%);
        }
        >div[id="c3"]{
            transform: translateX(30%);
        }
    }
    #card-2{
        transform: translateX(-20%);
    }
    #contact>div{
        transform: translateX(35%);
    }
    #right-about{
        transform: translateY(40%);
    }
    #left-we-do{
        transform: translateY(40%);
    }
}
@media (max-width:450px) {
    article{
        font-size: 2rem;
        transform: translateY(10%);
        padding: 6rem 1rem;
    }
    #about,#we-do{
        height: 15rem;
    }
    #left-about,#right-we-do{
        padding: 1rem;
        >h1{font-size: 1.1rem;}
        >p{font-size: 0.7rem;}
    }
    #right-we-do{
        height: 15rem;
    }
    #right-about{
        transform: translateY(10%);
        >#img-about-2{
            transform: translateX(20%);
        }
    }
    #left-we-do{
        transform: translateY(10%);
        height: 20rem;
        >#img-we-do-2{
            transform: translate(-20%,20%);
        }
    }
    #card-2{
        >h1{
            font-size: 1rem;
        }
        >p{
            font-size: 0.6rem;
        }
    }
    #defore-port>div{
        height: 10rem;
    }
    #before-port>div>#card-2{
        padding: 1rem;
        width: 20rem;
    }
    #contact>div{
        transform: translateX(110%);
    }
    form{
        width: 20rem;
    }
}
@media (max-width:376px) {
    #card-1>div>div{
        width: 80vw;
    }
    #card-1>div{
        >#c2{
            transform: translate(5%,-25%);
        }
        >#c3{
            transform: translateX(-6%);
        }

    }
    article{
        font-size: 1rem;
        padding: 2rem 1rem;
    }
    #contact>div{
        transform: translateX(31rem);
        text-align: center;
        >form{
            width: 90vw;
        }
    }
}